// @import "_variables";
body{
    padding: 0;
    margin: 0;
    div.box-container{
        div.main{
            display: grid;
            grid-template-columns: repeat(14, 1fr);
            div.main-film-box-container{
                grid-column: 1/12;
                div.main-film-select{
                    margin-left: 12%;
                    gap: 1.4em;
                    h3{
                        a{
                            transition: .3s;
                        }
                        a:hover{
                            color: #D8D8D8 !important;
                        }
                    }
                }
                div.main-films-container{
                    padding: 1em 3.5em;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 20px;
                    justify-content: center;
                    a.film-card{
                        -webkit-filter: brightness(100%);
                        transition: .5s;
                        div.card{
                            div.main-film-thumbnail{
                                position: relative;
                                p.release-year{
                                    font-size: 12px;
                                    position: absolute;
                                    padding: 5px 10px;
                                    margin: 0;
                                    background-color: green;
                                    border-radius: 100pc;
                                    color: white;
                                    bottom: 6px;
                                    right: 4px;
                                }
                            }
                        }
                    }
                }
            }
            div.side-bar{
                grid-column: 12/15;
                h5{
                    text-align: center;
                    padding: 10px 10px;
                    border-radius: 60px;
                    background-color: #635985;
                    font-size: medium;
                    color: white;
                }
            }
        }
    }
}
.darker-on-hover:hover{
    -webkit-filter: brightness(80%);
}
.absolute-position{
    position: absolute;
}
.none-display{
    display: none;
}



// 
*{
}
body{
    background-color: #182747;
    div.movie-main{
        min-height: 100vh;
        width: 100%;
        position: relative;
        div.movie-details-heading{
            display: grid;
            justify-items: center;
            margin-bottom: 2em;
            img.movie-details-heading-background-img{
                -webkit-filter: brightness(60%);
            }
            div.movie-details-heading-all{
                width: 60%;
                margin-top: 6em;
                h3.movie-details-heading-title{
                    text-align: center;
                }
                div{
                    font-size: 14px;
                    text-align: center;
                    margin-top: 2em;
                    p.movie-details-heading-vote-average{
                        display: inline-block;
                    }
                    p.movie-details-heading-release-date{
                        margin-left: 2.5em;
                        display: inline-block;
                    }
                }
                div.movie-details-heading-genres{
                    display: flex; 
                    justify-content: center;
                    gap: 2em;
                    margin: 0;
                }
                p.movie-details-heading-overview{
                    margin-top: 2em;
                    line-height: 1.7em;
                }
            }

        }
        div.movie-section{ 
            width: 75%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-content: left;
            margin: auto;
            .responsive-iframe-container{
                grid-column: 1/3;
                position: relative;
                width: 100%;
                padding-top: 42%; /* 4:3 Aspect Ratio */
                max-height: 50%;
                .responsive-iframe{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
            div.movie-section-side-bar{
                justify-content: center;
                display: flex;
                flex-wrap: wrap;
                h6{
                    text-align: center;
                    padding: 2em;
                    width: 92%;
                    padding: 3px 0 6px 0;
                    border-radius: 100px;
                    background-color: #BFACE2;
                    height: fit-content;
                }
                width: 100%;
                grid-column: 3/4;
                div.movie-section-side-bar-same-genres-movies{
                    width: 80%;
                }
            }
        }
    }
}


//
body{
    div.searched-movies{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        width: 80%;
        margin: auto;
        a{
            div{
                div.main-film-thumbnail{
                    position: relative;
                    p.release-year{
                        font-size: 12px;
                        position: absolute;
                        padding: 5px 10px;
                        margin: 0;
                        background-color: green;
                        border-radius: 100pc;
                        color: white;
                        bottom: 6px;
                        right: 4px;
                    }
                }
            }
        }
    }
}